<vo.ConfigXml>
  <userBd>rodrigo</userBd>
  <passBd>senhaTeste</passBd>
  <pathDam15Recebido>c:\dam15Recebido</pathDam15Recebido>
  <pathDam15Historico>c:\dam15Historico</pathDam15Historico>
  <pathDamDefinitivoRecebido>c:\damDefinitivoRecebido</pathDamDefinitivoRecebido>
  <pathDamDefinitivoHistorico>c:\damDefinitivoHistorico</pathDamDefinitivoHistorico>
  <nomeBancoConvenio>BB</nomeBancoConvenio>
  <emailDestinoSuporte>
    <string>suporte@juceb.ba.gov.br</string>
  </emailDestinoSuporte>
  <emailRemetenteSuporte>rodrigo@juceb.ba.gov.br</emailRemetenteSuporte>
  <hostNameEmail>envio.ba.gov.br</hostNameEmail>
  <passHostEmail></passHostEmail>
  <smtpPort>25</smtpPort>
  <ssl>false</ssl>
  <userNameEmail></userNameEmail>
  <subjectEmail>Problemas encontrados na CONCILIACAO BANCARIA</subjectEmail>
  <messageEmail>Mensagem inicial do email</messageEmail>
  <intervaloMinutos>15</intervaloMinutos>
</vo.ConfigXml>