<vo.ConfigXml>
  <layout>
    <layoutDams>
      <vo.LayoutDam>
        <attributeName>CodigoLote</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>NumSeq</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>CodigoAgencia</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>NumDam</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>SeqDuplicacao</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>NumReq</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>TipoDocumento</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>CodigoUsuario</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>CpfCnpj</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>DataArrecadacao</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>DataCredito</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>ValorPago</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>FormaPagamento</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>ValorTarifa</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
    </layoutDams>
  </layout>
  <userBd>rodrigo</userBd>
  <passBd>senhaTeste</passBd>
  <pathDam15Recebido>c:\dam15Recebido</pathDam15Recebido>
  <pathDam15Historico>c:\dam15Historico</pathDam15Historico>
  <pathDamDefinitivoRecebido>c:\damDefinitivoRecebido</pathDamDefinitivoRecebido>
  <pathDamDefinitivoHistorico>c:\damDefinitivoHistorico</pathDamDefinitivoHistorico>
  <nomeBancoConvenio>BB</nomeBancoConvenio>
  <emailDestinoSuporte>
    <string>suporte@juceb.ba.gov.br</string>
  </emailDestinoSuporte>
  <emailRemetenteSuporte>rodrigo@juceb.ba.gov.br</emailRemetenteSuporte>
  <hostNameEmail>envio.ba.gov.br</hostNameEmail>
  <passHostEmail></passHostEmail>
  <smtpPort>25</smtpPort>
  <ssl>false</ssl>
  <userNameEmail></userNameEmail>
  <subjectEmail>Assunto do Email</subjectEmail>
  <messageEmail>Mensagem inicial do email</messageEmail>
  <intervaloMinutos>15</intervaloMinutos>
</vo.ConfigXml>