<vo.ConfigXml>
  <layout>
    <layoutDams>
      <vo.LayoutDam>
        <attributeName>CodigoLote</attributeName>
        <colNumberStart>73</colNumberStart>
        <colNumberEnd>79</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>NumSeq</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>SeqDuplicacao</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>CodigoAgencia</attributeName>
        <colNumberStart>107</colNumberStart>
        <colNumberEnd>115</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>NumDam</attributeName>
        <colNumberStart>60</colNumberStart>
        <colNumberEnd>67</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>NumReq</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>TipoDocumento</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>CodigoUsuario</attributeName>
        <colNumberStart>67</colNumberStart>
        <colNumberEnd>79</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>CpfCnpj</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>DataArrecadacao</attributeName>
        <colNumberStart>21</colNumberStart>
        <colNumberEnd>29</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>DataCredito</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>ValorPago</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>FormaPagamento</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
      <vo.LayoutDam>
        <attributeName>ValorTarifa</attributeName>
        <colNumberStart>0</colNumberStart>
        <colNumberEnd>0</colNumberEnd>
      </vo.LayoutDam>
    </layoutDams>
  </layout>
  <userBd>*****</userBd>
  <passBd>*****</passBd>
  <hostBd>*****</hostBd>
  <tipoBanco>oracle</tipoBanco>
  <portaBanco>1521</portaBanco>
  <nomeServicoBanco>prod</nomeServicoBanco>
  <pathDam15Recebido class="sun.nio.fs.WindowsPath">
    <fs>
      <provider>
        <theFileSystem reference="../.."/>
      </provider>
      <defaultDirectory>A:\workspace\conciliacao</defaultDirectory>
      <defaultRoot>A:\</defaultRoot>
      <supportsLinks>true</supportsLinks>
      <supportsStreamEnumeration>true</supportsStreamEnumeration>
    </fs>
    <type>ABSOLUTE</type>
    <root>c:\</root>
    <path>c:\dam15Recebido</path>
    <hash>0</hash>
  </pathDam15Recebido>
  <pathDam15Historico class="sun.nio.fs.WindowsPath">
    <fs reference="../../pathDam15Recebido/fs"/>
    <type>ABSOLUTE</type>
    <root>c:\</root>
    <path>c:\dam15Historico\2016</path>
    <hash>0</hash>
  </pathDam15Historico>
  <pathDamDefinitivoRecebido class="sun.nio.fs.WindowsPath">
    <fs reference="../../pathDam15Recebido/fs"/>
    <type>ABSOLUTE</type>
    <root>c:\</root>
    <path>c:\damDefinitivoRecebido\2016</path>
    <hash>0</hash>
  </pathDamDefinitivoRecebido>
  <pathDamDefinitivoHistorico class="sun.nio.fs.WindowsPath">
    <fs reference="../../pathDam15Recebido/fs"/>
    <type>ABSOLUTE</type>
    <root>c:\</root>
    <path>c:\damDefinitivoHistorico\2016</path>
    <hash>0</hash>
  </pathDamDefinitivoHistorico>
  <nomeBancoConvenio>BB</nomeBancoConvenio>
  <emailDestinoSuporte>
    <string>suporte@juceb.ba.gov.br</string>
  </emailDestinoSuporte>
  <emailRemetenteSuporte>rodrigo@juceb.ba.gov.br</emailRemetenteSuporte>
  <hostNameEmail>*****</hostNameEmail>
  <passHostEmail></passHostEmail>
  <smtpPort>25</smtpPort>
  <ssl>false</ssl>
  <userNameEmail></userNameEmail>
  <subjectEmail>Assunto do Email</subjectEmail>
  <messageEmail>Mensagem inicial do email</messageEmail>
  <intervaloMilisegundos>6000</intervaloMilisegundos>
  <pathErrorLog class="sun.nio.fs.WindowsPath">
    <fs reference="../../pathDam15Recebido/fs"/>
    <type>ABSOLUTE</type>
    <root>c:\</root>
    <path>c:\erroConciliacao.txt</path>
    <hash>0</hash>
  </pathErrorLog>
</vo.ConfigXml>